@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
html {
  scroll-behavior: smooth;
}
:root {
  --header-height: 70px;
  --body-color: #1c2833;
  --title-color: #ffffff;
  --title-color-dark: #000;
  --font-medium: 500;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding-top: var(--header-height); /* espacio para el header fijo */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  height: auto;
}

.header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav {
  height: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav_logo {
  display: flex; /* Usa flexbox para alinear la imagen y el texto horizontalmente */
  align-items: center; /* Alinea verticalmente la imagen y el texto */
  color: #ffffff; /* Ajusta el color del texto si es necesario */
  text-decoration: none; /* Quita el subrayado del enlace */
  font-size: 22px; /* Ajusta el tamaño de la fuente */
  font-weight: 500; /* Ajusta el peso de la fuente */
  margin-bottom: 0px;
}

.logo_img {
  height: 40px; /* Ajusta la altura de la imagen según sea necesario */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.nav_list {
  display: flex;
  column-gap: 1rem;
}

.nav_link {
  margin-top: 9px;
  font-size: 18px;
  color: var(--title-color);
  text-decoration: none;
  transition: color 0.3s;
  position: relative; /* Necesario para el posicionamiento del MagicTabSelect */
}

.nav_link:hover {
  color: rgb(57, 148, 153);
}

.nav_link_inicio {
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  color: #24262b;
  background-color: rgb(165, 201, 202);
  padding: 0.5rem 1rem; /* Ajuste de relleno para el cuadro */
  border-radius: 4px; /* Bordes redondeados para el cuadro */
  display: inline-block; /* Convertir enlace en un elemento en línea */
}

.nav_link_inicio:hover {
  background-color: rgb(57, 148, 153);
}

.encabezado_main {
  background-color: #fff;
  height: calc(100vh - var(--header-height));
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

.portada {
  object-fit: cover;
  width: 50%;
  max-height: 90vh;
}

.encabezado_textos {
  width: 48%;
  margin-top: 30px;
}
.search-container {
  position: relative; /* Necesario para el posicionamiento del contenedor de resultados */
  display: flex;
  align-items: center;
  margin: 0%;
}

.search-container input {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  padding: 0.1rem 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.search-container input:focus {
  border-color: rgb(57, 148, 153); /* Color de borde al enfocar */
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-results li {
  padding: 0.5rem;
  font-size: 16px;
  color: var(--title-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-results li:hover {
  background-color: rgb(57, 148, 153); /* Color de fondo al pasar el cursor */
  color: #fff; /* Color del texto al pasar el cursor */
}

.title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 56px;
  font-weight: 300;
  color: #090b52;
}

.title--active {
  color: rgb(57, 91, 100);
  font-weight: 700;
}

.copy {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  color: var(--gray1);
  text-shadow: var(--shadow) var(--color_shadow);
  margin: 15px 0;
}

.copy_active {
  font-weight: 700;
}

.cta {
  font-size: 22px;
  margin-top: 90px;
  padding: 20px 30px;
  display: inline-block;
  background: rgb(165, 201, 202);
  text-decoration: none;
  color: var(--black2);
  font-weight: 700;
  box-shadow: var(--shadow) var(--color_shadow);
  border-radius: 6px;
}

.cta:hover {
  background-color: rgb(57, 148, 153);
}

/*info*/

.info {
  text-align: center;
  background: #e7e7e7;
}

.subtitle {
  font-size: 42px;
}

.subtitle--modifier {
  text-align: center;
  margin-bottom: 16px;
}

.copy_section {
  color: var(--black2);
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 60px;
}

.copy_section--modifier {
  text-align: center;
  margin-bottom: 32px;
}

.carousel {
  position: relative;
  display: flex;
  overflow-x: hidden;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.carousel-button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #1c2833;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: opacity 0.3s, background-color 0.3s;
  padding: 8px;
  width: 40px;
  height: 40px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
}

.carousel-button:hover {
  background-color: rgb(57, 148, 153);
}

.prev-button {
  left: 2px; /* Ajuste la posición izquierda según sea necesario */
}

.next-button {
  right: 2px; /* Ajuste la posición derecha según sea necesario */
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.card {
  width: calc(33.33% - 10px); /* Ancho ajustado para tres tarjetas y media */
  padding: 20px;
  background: linear-gradient(180deg, #1c2833 0%, rgb(221, 186, 137) 100%);
  border-radius: 10px;
  flex: 0 0 auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  transition: transform 0.3s ease-in-out;
}

.card_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.cards_text {
  padding: 15px;
}

.card_title {
  font-size: 24px;
  color: #eef3fb;
  margin-bottom: 8px;
}

.card_copy {
  color: #000000;
  margin-bottom: 16px;
  font-size: 16px;
}

.card_button {
  display: inline-block;
  background: rgb(165, 201, 202);
  border-radius: 6px;
  text-decoration: none;
  color: #1c2833;
  font-weight: 700;
  text-align: center;
  padding: 12px 24px;
  transition: background-color 0.3s;
  border: none; /* Elimina el borde */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.card_button:hover {
  background-color: rgb(57, 148, 153);
}

/* Estilos para el footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.row {
  display: flex;
  flex-wrap: nowrap;
}
ul {
  list-style: none;
  padding: 0;
}

.footer {
  width: 100%;
  background-color: #24262b;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding no aumente el ancho del footer */
}

.footer-top {
  width: 15%;
  color: #ffffff;
}

.footer-col {
  width: 25%;
  box-sizing: border-box;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 20px;
  margin-right: 120px;
  position: relative;
  padding-bottom: 10px; /* Añadido para el espacio debajo del texto */
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: rgb(165, 201, 202);
  height: 2px;
  width: 50px;
  box-sizing: border-box;
}

.footer-col ul {
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  margin-right: 120px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: rgb(165, 201, 202);
  padding-left: 8px;
}
.social-links button {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(165, 201, 202);
  transition: all 0.5s ease;
  border: none; /* Asegúrate de que no haya bordes en los botones */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.social-links button:hover {
  color: #24262b;
  background-color: rgb(165, 201, 202);
}
.contacto {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(72, 75, 72, 0.475);
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 60%;
  color: rgb(21, 188, 79);
  transition: all 0.5s ease;
}
.contacto:hover {
  color: #151617;
  background-color: rgba(139, 246, 187, 0.848);
}
.whatssapp {
  color: rgb(6, 167, 6);
}

.nav_toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--title-color);
}

/* Estilos para el menú en pantallas grandes */
.nav_list {
  display: flex;
  column-gap: 1rem;
}

/* Estilos para el menú cuando está activo en dispositivos móviles */
.nav_list.active {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: var(--body-color);
  z-index: 1000;
  padding-top: var(--header-height);
  transition: transform 0.3s ease;
  transform: translateX(0);
}

/* Estilos para esconder el vefo cuando no está activo en dispositivos móviles */
.nav_list.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  background-color: var(--body-color);
  z-index: 1000;
  padding-top: var(--header-height);
  transition: transform 0.3s ease;
}

/* Estilos para los enlaces del menú en dispositivos móviles */
.nav_list.sidebar a {
  display: block;
  padding: 10px;
  color: var(--title-color);
  text-decoration: none;
}

.nav_list.sidebar a:hover {
  background-color: rgb(57, 148, 153);
}

/*responsive footer y header*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .nav_list {
    font-size: 20px;
  }
  .nav_list {
    display: none; /* Ocultar la lista de navegación en pantallas pequeñas */
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
  .nav_list {
    font-size: 18px;
  }
  .nav_link_inicio {
    font-size: 14px;
    padding: 0.4rem 0.8rem; /* Ajuste del relleno para el cuadro en pantallas pequeñas */
  }
}

@media (max-width: 768px) {
  .nav_toggle {
    display: block;
    position: fixed; /* Asegura que el botón de toggle esté siempre visible */
    top: 20px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    z-index: 1001; /* Asegura que el botón de toggle esté por encima del menú */
  }

  .nav_list {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background-color: var(--body-color);
    z-index: 1000;
    padding-top: var(--header-height);
    transition: right 0.3s ease;
  }

  .nav_list.active {
    right: 0;
  }

  .nav_link {
    margin: 1rem 0; /* Añadir margen entre los elementos del menú */
    padding: 10px 0; /* Añadir padding a los enlaces del menú */
    width: 100%; /* Asegurar que los enlaces ocupen todo el ancho */
    text-align: center; /* Centrar el texto */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Línea de separación */
  }

  .nav_link:last-child {
    border-bottom: none; /* Eliminar la línea de separación del último elemento */
  }

  .nav_link_inicio {
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    color: #24262b;
    background-color: rgb(165, 201, 202);
    padding: 0.5rem 1rem; /* Ajuste de relleno para el cuadro */
    border-radius: 4px; /* Bordes redondeados para el cuadro */
    display: inline-block; /* Convertir enlace en un elemento en línea */
    margin: 10px 0; /* Espacio adicional para este enlace */
  }

  .nav_link_inicio:hover {
    background-color: rgb(57, 148, 153);
  }

  .nav_list.sidebar {
    display: block;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .encabezado_main {
    flex-direction: column;
    padding: 20px;
  }

  .encabezado_textos {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .portada {
    width: 100%;
    height: auto;
    max-height: none;
  }

  .cta {
    display: inline-block;
    margin-top: 20px;
  }

  .carousel {
    flex-direction: column;
    align-items: center;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card {
    width: 80%; /* Ajusta el ancho de las tarjetas en dispositivos móviles */
    max-width: none; /* Elimina el límite de ancho máximo */
  }

  .carousel-button {
    display: none; /* Oculta los botones de navegación en dispositivos móviles */
  }
}
/* Estilo del botón */
.theme-toggle-button {
  border: 1px solid var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.theme-toggle-button:hover {
  color: var(--background-color);
}
