.recuperar-container {
  background: linear-gradient(250deg, #b6cde2 0%, rgb(221, 186, 137) 100%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  
}
  
  input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #recuperar-prin {
    background-image: url('../img/montareg.jpg');
    background-size: cover;
    background-position: center top; /* Ajusta la posición vertical */
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
