@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --header-height: 70px;
  --body-color: #1c2833;
  --title-color: #ffffff;
  --title-color-dark: #000;
  --font-medium: 500;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding-top: var(--header-height); /* espacio para el header fijo */
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  height: auto;
}

.header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav {
  height: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo_img {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.nav_list {
  display: flex;
  column-gap: 1rem;
}

.nav_link {
  margin-top: 9px;
  font-size: 18px;
  color: var(--title-color);
  text-decoration: none;
  transition: color 0.3s;
}

.nav_link:hover {
  color: rgb(57, 148, 153);
}

.nav_link_inicio {
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  color: #24262b;
  background-color: rgb(165, 201, 202);
  padding: 0.5rem 1rem; /* Ajuste de relleno para el cuadro */
  border-radius: 4px; /* Bordes redondeados para el cuadro */
  display: inline-block; /* Convertir enlace en un elemento en línea */
}

.nav_link_inicio:hover {
  background-color: rgb(57, 148, 153);
}

.principal-container {
  background-image: url('../img/montareg.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  padding: 5px; /* Ajusta el espaciado interior según sea necesario */
}
.registro-container {
  background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent white */
  max-width: 975px;
  margin: 20px auto;
  padding: 20px 70px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  position: relative;
}

.form-registro {
  display: flex;
  flex-direction: column;
}

.registro-container h2 {
  text-align: center;
  color: #333;
  font-size: 35px;
}

.form-registro label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
}

.form-registro input,
.form-registro select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.form-registro button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-registro button:hover {
  background-color: #1c2833;
  color: #ffffff;
}

.form-registro button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form-registro button[type='submit'] {
  background-color: #1c2833;
  width: 200px;
  color: #ffffff;
}

.form-registro button[type='button'] {
  background-color: #6c757d;
  width: 200px;
  color: #ffffff;
}

.form-registro button:hover[type='button'] {
  background-color: #1c2833;
  color: #ffffff;
}

.form-registro button:hover[type='submit'] {
  background-color: #0f141a;
  color: #ffffff;
}

.form-registro button + button {
  margin-left: 10px;
}

/* Verification popup */
.verification-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.verification-popup form {
  display: flex;
  flex-direction: column;
}

.verification-popup label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}

.verification-popup input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.verification-popup button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  transition: background-color 0.3s;
}

.verification-popup button:hover {
  background-color: #0056b3;
}

.error {
  border: 1px solid rgb(134, 6, 6);
}

.error-message {
  color: rgb(134, 6, 6);
  font-size: 0.8em;
}

/* Estilos para los campos de entrada y etiquetas */
form div {
  margin-bottom: 2px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
#button-avanza-retro {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 'auto';
}
form input[type='text'],
form input[type='email'],
form input[type='tel'],
form input[type='password'],
form select {
  width: calc(100% - 20px); /* Ancho total menos el padding */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form select {
  appearance: none; /* Quita la apariencia nativa del select */
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-image: linear-gradient(45deg, transparent 50%, #ccc 50%),
    linear-gradient(135deg, #ccc 50%, transparent 50%);
  background-position: calc(100% - 10px) calc(1em + 2px),
    calc(100% - 5px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

form .submit-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* Estilos para los botones */
form input[type='submit'],
form a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #1c2833;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form input[type='submit']:hover,
form a:hover {
  background-color: #555;
}

.step-indicators {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.step {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.step.active {
  background-color: #1c2833;
  color: white;
}
.identificacion_user {
  display: flex;
  align-items: center;
}

.identificacion_user div {
  margin-right: 20px; /* Espacio entre los grupos de campos */
}

.identificacion_user label {
  margin-right: 10px;
  font-size: 0.9em;
  margin-left: 20px;
}

.identificacion_user select {
  font-size: 0.875rem; /* Tamaño de fuente más pequeño */
  padding: 3px 5px; /* Ajusta el relleno */
  width: auto; /* Ajusta el ancho según el contenido */
}
.identificacion_user input {
  margin-left: 10px;
  padding: 5px; /* Añade espacio dentro de los campos */
}

/* Estilo de error para el campo de número de documento */
#nodocumento.error {
  border: 4px solid #ff0000; /* Rojo intenso oscuro */
  background-color: #ffe6e6; /* Fondo rojo claro */
  outline: none;
  box-shadow: 0 0 10px #ff0000; /* Efecto de sombra para mayor visibilidad */
}

/* Estilo de error para el campo de contraseña */
#password.error {
  border: 4px solid #ff0000; /* Rojo intenso oscuro */
  background-color: #ffe6e6; /* Fondo rojo claro */
  outline: none;
  box-shadow: 0 0 10px #ff0000; /* Efecto de sombra para mayor visibilidad */
}

/* Ajustes para el mensaje de error */
.error-message-container {
  margin-top: 5px;
  padding: 1px;
  background-color: #f8d7da; /* Color de fondo rojo claro */
  border: 1px solid #f5c6cb; /* Borde rojo claro */
  border-radius: 5px;
  animation: slideInFromLeft 0.5s ease; /* Animación de deslizamiento desde la izquierda */
}

.error-message {
  color: #721c24; /* Color del texto rojo oscuro */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* Animación para deslizarse desde la izquierda */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Estilo de error para el campo de No de documento */
#nodocumento.error,
#celular.error,
#username.error,
#password.error {
  border: 4px solid #ff0000; /* Rojo intenso oscuro */
  background-color: #ffe6e6; /* Fondo rojo claro */
  outline: none;
  box-shadow: 0 0 10px #ff0000; /* Efecto de sombra para mayor visibilidad */
}

input.error,
select.error {
  border: 4px solid #ff0000; /* Rojo intenso oscuro */
  background-color: #ffe6e6; /* Fondo rojo claro */
  outline: none;
  box-shadow: 0 0 10px #ff0000; /* Efecto de sombra para mayor visibilidad */
}

@media (max-width: 768px) {
  .registro-container {
    padding: 20px;
    width: 90%; /* Reducir el ancho del contenedor */
    margin: 0 auto; /* Centramos el contenedor */
  }

  .form-registro label {
    margin-bottom: 5px;
    text-align: left; /* Alineamos las etiquetas a la izquierda */
  }

  .form-registro input,
  .form-registro select {
    width: 100%; /* Ajustar ancho de los inputs */
    padding: 10px;
    margin-bottom: 15px;
  }

  .identificacion_user {
    display: flex;
    flex-direction: column; /* Apilar verticalmente en pantallas pequeñas */
    margin-bottom: 15px;
  }

  .identificacion_user div {
    margin-right: 0; /* Eliminar el espacio entre los campos */
  }

  .identificacion_user label {
    margin-left: 0; /* Eliminar margen izquierdo */
  }

  #button-avanza-retro {
    flex-direction: column;
    align-items: center;
  }

  #button-avanza-retro button {
    width: 100%; /* Ajustar el ancho de los botones */
    margin-bottom: 10px; /* Añadir espacio entre los botones */
  }

  .step-indicators {
    flex-direction: column;
    align-items: center;
  }

  .step {
    margin-bottom: 10px;
    text-align: center; /* Centrar texto de los pasos */
  }

  #button-avanza-retro {
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }

  #button-avanza-retro button {
    width: 80%; /* Ajustar el ancho de los botones */
    margin-bottom: 10px; /* Añadir espacio entre los botones */
  }
}
