@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
  transition: transform 0.3s;
}

.menu-open .content-container {
  transform: translateX(
    250px
  ); /* Mueve el contenido principal hacia la derecha */
}

.sidebar {
  width: 300px;
  background-color: #1c2833;
  padding: 30px;
  padding-top: 80px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -500px;
  height: 100vh; /* Ocupa toda la altura vertical */
  transition: left 0.3s;
  text-align: center;
}

.menu-open .sidebar {
  left: 0;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  color: #ffffff;
  font-size: 18px;
}

.dashboard {
  flex: 1;
  background-color: #ffffff;
  margin-left: 300px;
  padding: 100px;
  margin-bottom: 200px;
}

.dashboard h1 {
  color: #090b52;
  font-size: 35px;
  margin-bottom: 80px;
  width: 450px;
}

.dashboard h2 {
  color: rgb(57, 91, 100);
  font-size: 35px;
  margin-top: 20px;
}

.dashboard h3 {
  color: #000000;
  font-size: 1.2em;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 20px;
}

.separator {
  height: 2px;
  background-color: rgb(57, 91, 100); /* Color de la línea de separación */
  margin: 5px 0; /* Espacio vertical alrededor de la línea */
  border-radius: 1px; /* Bordes redondeados para la línea */
  margin-right: 9px;
}

.info-container {
  background-color: rgb(165, 201, 202); /* Fondo de la caja contenedora */
  padding: 30px;
  width: 500px;
  border-radius: 8px;
  margin-top: 20px; /* Espacio superior para separar del título */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-box {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px; /* Espacio entre cada info-box */
}

.info-label {
  margin-right: 100px; /* Espacio entre el label y el valor */
  flex: auto;
}

.info-value {
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 4px;
}

.nav_link_mov {
  font-size: 17px;
  text-decoration: none;
  color: white;
  background-color: #24262b;
  padding: 0.5rem 1rem; /* Ajuste de relleno para el cuadro */
  border-radius: 4px; /* Bordes redondeados para el cuadro */
  display: inline-block; /* Convertir enlace en un elemento en línea */
  margin-top: 60px;
  margin-left: 300px;
  width: 175px;
  text-align: center;
}

.nav_link_mov:hover {
  background-color: rgb(79, 81, 82);
}

.dashboard .button-container {
  margin-top: 20px;
  text-align: center;
  width: 450px;
  padding-top: 10px;
}

.dashboard .button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: rgb(165, 201, 202);
  color: black;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard .button:hover {
  background-color: rgb(57, 148, 153);
  color: white;
}

.button {
  display: block; /* Cambiado a bloque para ocupar todo el ancho disponible */
  margin: 20px; /* Margen automático para centrar verticalmente */
  padding: 10px 20px;
  background-color: rgb(57, 148, 153);
  color: rgb(255, 255, 255); /* Color del texto */
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(165, 201, 202);
  color: white; /* Cambia el color del texto al hacer hover */
}

/* Estilos para los movimientos */
.movimientos-container {
  margin-top: 20px;
}

.movimiento-box {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 300px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movimiento-numCuenta,
.movimiento-monto,
.movimiento-saldoActual {
  font-size: 18px;
  margin: 0 10px;
}

.movimiento-monto.gasto {
  color: red;
}

.movimiento-monto.ingreso {
  color: green;
}
.movimiento-fecha {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px; /* Espacio entre la fecha y el box */
  margin-top: 30px;
}

/* Estilos para el footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.row {
  display: flex;
  flex-wrap: nowrap;
}
ul {
  list-style: none;
  padding: 0;
}

.footer {
  bottom: 0; /* Colocarlo en la parte inferior */
  left: 0;
  width: 100%; /* Ancho completo */
  background-color: #24262b;
  padding: 10px 20px; /* Ajustar el padding según sea necesario */
  color: #ffffff;
}

.footer-top {
  width: 50%;
  color: #ffffff;
}
