@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --header-height: 70px;
  --body-color: #1c2833;
  --title-color: #ffffff;
  --title-color-dark: #000;
  --font-medium: 500;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding-top: var(--header-height); /* espacio para el header fijo */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  height: auto;
}

.header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav {
  height: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav_list {
  display: flex;
  column-gap: 1rem;
}

.nav_link {
  margin-top: 9px;
  font-size: 18px;
  color: var(--title-color);
  text-decoration: none;
  transition: color 0.3s;
}

.nav_link:hover {
  color: rgb(57, 148, 153);
}

.nav_link_inicio {
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  color: #24262b;
  background-color: rgb(165, 201, 202);
  padding: 0.5rem 1rem; /* Ajuste de relleno para el cuadro */
  border-radius: 4px; /* Bordes redondeados para el cuadro */
  display: inline-block; /* Convertir enlace en un elemento en línea */
}

.nav_link_inicio:hover {
  background-color: rgb(57, 148, 153);
}

.login-container {
  background-image: url('../img/loginstars.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  padding: 20px; /* Ajusta el espaciado interior según sea necesario */
}
/* Asegúrate de que este archivo se carga correctamente */
.login-form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Ajusta el ancho según sea necesario */
  margin: 40px auto; /* Centra el formulario horizontalmente */
  background: linear-gradient(142deg, #8cb9e5 0%, rgb(241, 184, 103) 100%);
  border-radius: 30px;
  padding: 34px;
  box-shadow: 10px 10px rgba(17, 17, 17, 0.1);
  position: relative;
}
.form-group {
  margin-bottom: 30px;
}

.form-group label {
  margin-bottom: 30px; /* Espacio entre la etiqueta y el campo */
}

.form-group input,
.form-group button {
  width: 100%;
  padding: 10px; /* Aumenta el padding para mayor espacio interior */
}

.form-group text {
  text-align: center;
}

.form-group .link-button {
  width: 100%;
  margin-top: 15px;
  box-sizing: border-box;
}

.form-group span {
  display: block;
  margin-top: 10px;
}

.link-button {
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.loader-login {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilos para los botones */
button[type='submit'] {
  background-color: rgb(66, 162, 165); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none; /* Elimina el contorno al enfocar */
  width: 100%; /* Ocupa todo el ancho del contenedor */
}

button[type='button'] {
  background-color: #24262b; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none; /* Elimina el contorno al enfocar */
  width: 100%; /* Ocupa todo el ancho del contenedor */
}

.link-button span {
  text-decoration: none;
  border: none;
  padding: 10px 20px; /* Ajusta el padding según sea necesario para aumentar el ancho */
  margin: 0;
  display: inline-block;
}

.center-text {
  text-align: center;
}

button[type='submit']:hover {
  background-color: rgb(176, 207, 208);
}

button[type='button']:hover {
  background-color: rgb(79, 81, 82);
}

button[type='submit']:focus,
button[type='button']:focus {
  outline: none; /* Elimina el contorno al enfocar */
}

/* Ajustes para el mensaje de error */
.error-message-container {
  margin-top: 5px;
  padding: 1px;
  background-color: #f8d7da; /* Color de fondo rojo claro */
  border: 1px solid #f5c6cb; /* Borde rojo claro */
  border-radius: 5px;
  animation: slideInFromLeft 0.5s ease; /* Animación de deslizamiento desde la izquierda */
}

.error-message {
  color: #721c24; /* Color del texto rojo oscuro */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* Animación para deslizarse desde la izquierda */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Estilos para el footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*responsive footer*/
@media (max-width: 768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Ajusta el ancho según sea necesario */
    margin-left: -10px;
    background: linear-gradient(142deg, #8cb9e5 0%, rgb(241, 184, 103) 100%);
    border-radius: 30px;
    padding: 34px;
    box-shadow: 10px 10px rgba(17, 17, 17, 0.1);
    position: relative;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Estilo de error para el campo de usuario */
input.error {
  border: 2px solid red; /* Borde rojo */
  background-color: #ffe6e6; /* Fondo rojo claro */
  outline: none;
}

/* Estilo de error para el campo de contraseña */
input.error {
  border: 2px solid red; /* Borde rojo */
  background-color: #ffe6e6; /* Fondo rojo claro */
  outline: none;
}

/* Ajustes para el mensaje de error */
.error-message-container {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8d7da; /* Color de fondo rojo claro */
  border: 1px solid #f5c6cb; /* Borde rojo claro */
  border-radius: 5px;
  animation: slideInFromLeft 0.5s ease; /* Animación de deslizamiento desde la izquierda */
}

.error-message {
  color: #721c24; /* Color del texto rojo oscuro */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* Animación para deslizarse desde la izquierda */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
