@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
  transition: transform 0.3s;
}

.menu-open .content-container {
  transform: translateX(
    250px
  ); /* Mueve el contenido principal hacia la derecha */
}

.sidebar {
  width: 300px;
  background-color: #1c2833;
  padding: 30px;
  padding-top: 80px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -500px;
  height: 100vh; /* Ocupa toda la altura vertical */
  transition: left 0.3s;
  text-align: center;
}

.menu-open .sidebar {
  left: 0;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  color: #ffffff;
  font-size: 18px;
}

.dashboard {
  flex: 1;
  background-color: #ffffff;
  margin-left: 300px;
  padding: 100px;
  margin-bottom: 200px;
}

.dashboard h1 {
  color: #090b52;
  font-size: 35px;
  margin-bottom: 80px;
  width: 450px;
}

.dashboard h2 {
  color: rgb(57, 91, 100);
  font-size: 35px;
  margin-top: 20px;
}

.dashboard h3 {
  color: #000000;
  font-size: 1.2em;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 20px;
}

.separator {
  height: 2px;
  background-color: rgb(57, 91, 100); /* Color de la línea de separación */
  margin: 5px 0; /* Espacio vertical alrededor de la línea */
  border-radius: 1px; /* Bordes redondeados para la línea */
  margin-right: 9px;
}

.info-container {
  background-color: rgb(165, 201, 202); /* Fondo de la caja contenedora */
  padding: 30px;
  width: 500px;
  border-radius: 8px;
  margin-top: 20px; /* Espacio superior para separar del título */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-box {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px; /* Espacio entre cada info-box */
}

.info-label {
  margin-right: 100px; /* Espacio entre el label y el valor */
  flex: auto;
}

.info-value {
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 4px;
}

.nav_link_mov {
  font-size: 17px;
  text-decoration: none;
  color: white;
  background-color: #24262b;
  padding: 0.5rem 1rem; /* Ajuste de relleno para el cuadro */
  border-radius: 4px; /* Bordes redondeados para el cuadro */
  display: inline-block; /* Convertir enlace en un elemento en línea */
  margin-top: 60px;
  margin-left: 300px;
  width: 175px;
  text-align: center;
}

.nav_link_mov:hover {
  background-color: rgb(79, 81, 82);
}

.dashboard .button-container {
  margin-top: 20px;
  text-align: center;
  width: 450px;
  padding-top: 10px;
}

.dashboard .button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: rgb(165, 201, 202);
  color: black;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard .button:hover {
  background-color: rgb(57, 148, 153);
  color: white;
}

.button {
  display: block; /* Cambiado a bloque para ocupar todo el ancho disponible */
  margin: 20px; /* Margen automático para centrar verticalmente */
  padding: 10px 20px;
  background-color: rgb(57, 148, 153);
  color: rgb(255, 255, 255); /* Color del texto */
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(165, 201, 202);
  color: white; /* Cambia el color del texto al hacer hover */
}

.btn-abrir-cuentaaa {
  background-color: rgb(67, 168, 173);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  font-size: 17px;
}

.btn-abrir-cuentaaa:hover {
  background-color: rgb(37, 94, 97);
}

.custom-overlay-select-account {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal-select-account {
  width: 80%;
  max-width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.custom-modal-select-account h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.custom-modal-select-account ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.custom-modal-select-account ul li {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.custom-modal-select-account ul li:hover {
  background: #f0f0f0;
}

.custom-modal-select-account button {
  background: #961111;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s;
}

.custom-modal-select-account button:hover {
  background: #5e0a0a;
}

.custom-modal-select-account button.close-button {
  align-self: flex-start; /* Alinea el botón al principio del contenedor del modal */
  margin-left: 0; /* Opcional: ajusta el margen si es necesario */
}

/* Estilos para los movimientos */
.movimientos-container {
  margin-bottom: 20px;
  width: 400px; /* Ajusta el ancho del contenedor general de movimientos */
}

.movimiento-box {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px 0;
}

.movimiento-fecha {
  margin-bottom: 5px;
}

.movimiento-tipo {
  flex: 1;
}

.movimiento-monto {
  flex: 1;
}

.movimiento-saldo {
  flex: 1;
}

.movimiento-monto-envio {
  color: red;
  font-weight: bold; /* Rojo para transferencias enviadas */
}

.movimiento-monto-recibido {
  color: green;
  font-weight: bold; /* Verde para transferencias recibidas */
}

.recarga-monto-recibido {
  color: green;
  font-weight: bold;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.actions-container button {
  padding: 10px;
  background: #24262b;
  transition: background-color 0.3s;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  margin-right: 290px;
  cursor: pointer;
}

.actions-container button:hover {
  background: #484a4c;
}

@media (max-width: 768px) {
  .info-container {
    width: 90%; /* Ajusta el ancho para pantallas pequeñas */
    margin: 0 auto; /* Centra el contenedor */
    padding: 10px; /* Ajusta el relleno interno */
  }

  .info-box,
  .info-box-dos {
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* Asegura que los elementos hijos ocupen todo el ancho disponible */
  }

  .info-box .info-label,
  .info-box .info-value,
  .info-box-dos .info-label-dos,
  .info-box-dos .info-value-dos {
    width: 100%; /* Asegura que los elementos hijos ocupen todo el ancho disponible */
    text-align: left; /* Alinea el texto a la izquierda */
  }

  .actions-container {
    flex-direction: column;
    align-items: center;
  }

  .movimientos-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .info-container {
    width: 95%; /* Ajusta el ancho para pantallas pequeñas */
    margin: 0 auto; /* Centra el contenedor */
    padding: 10px; /* Ajusta el relleno interno */
  }

  .actions-container button {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
