.transfer-container {
  width: 90%;
  max-width: 515px;
  margin: 5% auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transfer-title {
  font-size: 28px;
  font-weight: 700;
  color: #1c2833;
  text-align: center;
  margin-bottom: 1rem;
}

.transfer-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 18px;
  color: #1c2833;
  margin-bottom: 0.5rem;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.info-label-tres {
  margin-right: 50px; /* Espacio entre el label y el valor */
  flex: auto;
}

.info-container-tran {
  background: linear-gradient(
    210deg,
    #b6cde2 0%,
    rgb(221, 186, 137) 100%
  ); /* Fondo de la caja contenedora */
  padding: 30px;
  width: 460px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  font-family: 'Roboto', sans-serif; /* Tipografía atractiva */
  color: #333; /* Color de texto */
}

.transfer {
  padding: 10px;
  font-size: 18px;
  background-color: #1c2833ff;
  color: #fdfdfd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cancel {
  border-radius: 10px;
  width: 250px;
  margin-top: 25px;
  margin-left: 105px;
  font-size: 16px;
  background-color: rgb(190, 42, 42);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='button-transferencias'] {
  border-radius: 10px;
  width: 250px;
  margin-top: 15px;
  margin-left: 125px;
  background-color: #24262b; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none; /* Elimina el contorno al enfocar */
}

button[type='button-transferencias']:hover {
  background-color: rgb(79, 81, 82);
}

button[type='submit-transferencias'] {
  border-radius: 10px;
  width: 250px;
  margin-top: 15px;
  margin-left: 125px;
  background-color: rgb(23, 159, 163); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none; /* Elimina el contorno al enfocar */
}

button[type='submit-transferencias']:hover {
  background-color: rgb(176, 207, 208);
}

.transfer:hover {
  background-color: rgb(20, 22, 22);
}
.cancel:hover {
  background-color: rgb(143, 54, 54);
}
/* Estilos para el Modal */
.custom-modal {
  width: 90%;
  max-width: 600px;
  margin: 180px auto 0; /* Ajusta el margen superior según lo necesites */
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000; /* Asegúrate de que el modal esté encima */
  outline: none;
}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed; /* Asegúrate de que el overlay cubra toda la pantalla */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999; /* Asegúrate de que el overlay esté justo detrás del modal */
}

.cuentas-list {
  display: flex;
  flex-direction: column;
}

.cuenta-button {
  background: #f8f9fa;
  border: 1px solid #ddd;
  font-size: 17px;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}

.cuenta-button.selected {
  background: #113e6e;
  color: #fff;
  border-color: #113e6e;
}

.cuenta-button:hover {
  background: #e9ecef;
}

.btn-cerrar-modal {
  background: #be313f;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;
}

.btn-cerrar-modal:hover {
  background: #77121c;
}

.btn-abrir-cuenta {
  background-color: rgb(65, 161, 167);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 17px;
}

.btn-abrir-cuenta:hover {
  background: rgb(37, 121, 126);
}
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    width: 100%;
  }

  .custom-modal {
    width: 95%; /* Aumenta el ancho en pantallas más pequeñas */
    padding: 15px; /* Reduce el relleno para pantallas más pequeñas */
    top: -110px; /* Ajusta la posición superior en pantallas más pequeñas */
  }

  .menu-open .content-container {
    transform: translateX(250px);
  }

  .sidebar {
    width: 250px;
    left: -250px;
  }

  .menu-open .sidebar {
    left: 0;
  }

  .transfer-container {
    margin-left: 10px;
    padding: 20px;
  }

  .info-container-tran {
    width: calc(100% - 40px);
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .info-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-label,
  .info-value {
    width: 100%;
    text-align: left;
  }

  .menu-toggle {
    left: 20px;
  }

  /* Ajusta el tamaño de los botones en móviles */
  button[type='button-transferencias'],
  button[type='submit-transferencias'] {
    width: 90%; /* Ajusta el ancho del botón al 90% del contenedor */
    max-width: 300px; /* Establece un ancho máximo para los botones */
    margin-left: auto; /* Elimina el margen izquierdo */
    margin-right: auto; /* Centra el botón horizontalmente */
    display: block; /* Asegura que el botón se comporte como un bloque */
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 200px;
    left: -300px;
  }

  .menu-open .sidebar {
    left: 0;
  }

  .transfer-container {
    padding: 10px;
  }

  .info-container-tran {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
  }
  button[type='button-transferencias'],
  button[type='submit-transferencias'] {
    width: 90%; /* Ajusta el ancho del botón al 90% del contenedor */
    max-width: 300px; /* Establece un ancho máximo para los botones */
    margin-left: auto; /* Elimina el margen izquierdo */
    margin-right: auto; /* Centra el botón horizontalmente */
    display: block; /* Asegura que el botón se comporte como un bloque */
  }
}
