.calculator-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 190px;
}

.input-section {
  width: 45%;
}

.result-section {
  background: linear-gradient(
    180deg,
    #b6cde2 0%,
    rgb(221, 186, 137) 100%
  ); /* Fondo de la caja contenedora */
  padding: 30px;
  width: 500px;
  border-radius: 8px;
  margin-top: 20px; /* Espacio superior para separar del título */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  font-family: 'Roboto', sans-serif; /* Tipografía atractiva */
  color: #333; /* Color de texto */
}

h3 {
  margin: 10px 0;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.simular {
  border-radius: 10px;
  width: 250px;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #24262b; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none; /* Elimina el contorno al enfocar */
}

.simular:hover {
  background-color: rgb(79, 81, 82);
}
