.user-details {
  font-family: 'Arial', sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 0 auto;
  min-height: 84vh; /* Ajusta este valor según sea necesario */
}

.account-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.account-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.account-button:hover {
  background-color: #0056b3;
}

.transactions-container {
  max-height: 400px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;
}

.account-status-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-status {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-activar {
  background-color: #28a745;
  color: white;
}

.btn-activar:hover {
  background-color: #218838;
}

.btn-revision {
  background-color: #ffc107;
  color: black;
}

.btn-revision:hover {
  background-color: #e0a800;
}

.btn-bloquear {
  background-color: #dc3545;
  color: white;
}

.btn-bloquear:hover {
  background-color: #c82333;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table thead {
  position: -webkit-sticky; /* Para navegadores basados en WebKit */
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1; /* Asegura que el encabezado esté por encima del contenido */
}

.transaction-table th, 
.transaction-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transaction-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.transaction-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transaction-table tr:hover {
  background-color: #e2e2e2;
}

.user-actions {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-block {
  background-color: #dc3545;
  color: white;
}

.btn-block:hover {
  background-color: #c82333;
}

.btn-review {
  background-color: #ffc107;
  color: black;
}

.btn-review:hover {
  background-color: #e0a800;
}

.btn-active {
  background-color: #28a745;
  color: white;
}

.btn-active:hover {
  background-color: #218838;
}
