@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --header-height: 70px;
  --body-color: #1c2833;
  --title-color: #ffffff;
  --title-color-dark: #000;
  --font-medium: 500;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding-top: var(--header-height); /* espacio para el header fijo */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  height: auto;
}

.header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav {
  height: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav_logo {
  font-size: 24px;
  text-decoration: none;
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: flex;
  align-items: center; /* Alinea la imagen y el texto verticalmente */
}

.logo_img {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.nav_list {
  display: flex;
  column-gap: 1rem;
}

.nav_link {
  margin-top: 9px;
  font-size: 18px;
  color: var(--title-color);
  text-decoration: none;
  transition: color 0.3s;
}

.nav_link:hover {
  color: rgb(57, 148, 153);
}

.nav_link_inicio {
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  color: #24262b;
  background-color: rgb(165, 201, 202);
  padding: 0.5rem 1rem; /* Ajuste de relleno para el cuadro */
  border-radius: 4px; /* Bordes redondeados para el cuadro */
  display: inline-block; /* Convertir enlace en un elemento en línea */
}

.nav_link_inicio:hover {
  background-color: rgb(57, 148, 153);
}


/* Estilos para el footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.row {
  display: flex;
  flex-wrap: nowrap;
}
ul {
  list-style: none;
  padding: 0;
}

.footer {
  background-color: #24262b;
}

.footer-top {
  width: 20%;
  color: #ffffff;
}

.footer-col {
  width: 25%;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(165, 201, 202);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: rgb(165, 201, 202);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(165, 201, 202);
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: rgb(165, 201, 202);
}
/*responsive footer*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 50%;
  }
}
